.wait{
    display:none;
}

.wrong{
    display:block;
    font-size: large;
    color: red;
    font-weight: bold;
}

.true{
    
    display:block;
    font-weight: bold;
    font-size: large;
    color: green;
}

.answer{
    margin-right: 100px;
    font-size: medium;

}

.question{
  
    font-size: large;
    font-weight: bold;
    margin-top: 50px;;
  
}
.select{
    margin-top: 15px;
    font-size: large;

}


.previous{
    margin-top: 15px;
    font-size: large;
    }

.next{
    margin-top: 15px;
    font-size: large;

}

.general{
    font-size: large;
  

}
.topicName{
    margin-top: 10px;
    font-size: large;

}

.numSelector{
    margin-top: 5px;
    margin-bottom: 5px;
}