.wait{
    display:none;
}

.wrong{
    margin-left:300px;
    display:block;
    font-size: x-large;
    color: red;
    font-weight: bold;
}

.true{
    margin-left:300px;
    display:block;
    font-weight: bold;
    font-size: x-large;
    color: green;
}

.answer{
    font-size: x-large;
    margin-left: 300px;
}

.question{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;;
    margin-left:200px;
}
.select{
    margin-top: 15px;
    font-size: x-large;
    margin-left: 300px;
}


.previous{
    margin-top: 15px;
    font-size: x-large;
    margin-left: 300px;}

.next{
    margin-top: 15px;
    font-size: x-large;
    margin-left: 20px; 
}

.general{
    font-size: large;
    margin-left:200px;

}
.topicName{
    font-size: large;
    margin-left:200px;
}